@font-face {
  font-family: 'VAG World Bold';
  src: url('../media/fonts/vag_world_bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../media/fonts/vag_world_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../media/fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../media/fonts/vag_world_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../media/fonts/vag_world_bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../media/fonts/vag_world_bold.svg#vag_world_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body{
  margin: 0;
  font-family: "VAG World Bold";
}

.icon{
  display: inline;
  width: 32px;
  height: 32px;
  transform: translate(-10%, 10%) rotateZ(-30deg);
}

.framed-image{
  display: block;
  margin: auto;
  border: 1px solid black;
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  z-index: 1;
}

header{
  padding: 50px 50px;
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.header__title{
  display: inline;
  font-size: 64px;
  margin-left: 20px;
}

.header__subtitle{
  line-height: 1;
  font-size: 36px;
  margin-left: 10px;
  margin-top: 0;
}

.header__article_left img{
  box-shadow: none;
}

.header__icon{
  display: inline;
  width: 48px;
  height: 48px;
  transform: translate(-10%, 10%) rotateZ(-30deg);
}

section{
  overflow: hidden;
  position: relative;
}

.section__flex{
  margin: 80px;
  display: flex;
  justify-content: space-between;
}

.main__section_pink{
  background: rgba(255, 70, 204, 0.25);
}

.main__section_white{
  background-color: white;
}

.section__overlay_pink{
  display: inline;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  animation: overlayPanLeft 20s linear infinite;
}

.section__overlay_white{
  display: inline;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  animation: overlayPanRight 20s linear infinite;
}

.section__title{
  font-size: 36px;
  text-align: center;
  width: 75%;
  margin: auto;
}

@keyframes overlayPanLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
@keyframes overlayPanRight {
  0% {
    transform: translateX(-33.33%);
  }
  100% {
    transform: translateX(0);
  }
}

    .section__block {
      width: 50%;
      z-index: 1;
    }

    .section__heading {
      font-size: 48px;
    }

    .section__subtitle {
      font-size: 24px;
      font-style: italic;
      color: dimgray;
      line-height: 0;
    }

    .section__paragraph {
      font-size: 24px;
      width: 100%;
      overflow: auto;
    }

    .section__icon {
      display: inline;
      width: 48px;
      height: 48px;
      transform: translate(-20%, 10%) rotateZ(-30deg);
    }


    footer {
      background-color: black;
      padding: 100px 0;
    }

    footer > div {
      display: flex;
      justify-content: center;
    }

    footer > div > div {
      text-align: center;
      line-height: 1;
    }

    footer p {
      color: gray;
      font-family: "Comic Sans MS";
    }

    footer a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }

    footer a:hover {
      opacity: 50%;
    }

    .inline {
      display: inline;
    }

    .block {
      display: block;
    }

